<div class="refBookDiv text-center" ng-show ="active">
	<span ng-if="!types.length" class="addIconEmpty glyphicon glyphicon-plus" ng-click="open()"></span>
	<span ng-if="types.length" class="addIcon glyphicon glyphicon-plus" ng-click="open()"></span>
	<div style = "clear : both"></div>
	<div class="type text-center" ng-repeat="type in types">
		<span class="glyphicon glyphicon-remove delIcon" ng-click="deleteType(type._id)"></span>
		<div class="typeName">{{type.name}}</div>
		<div style = "clear : both"></div>
	</div>
</div>

